
* {
	text-align: center;
	color: #3B365F;
	font-family: "Georgia", sans-serif;	
}

/* Propiedades compartidas  */

nav, .contenido-enlaces, #tipos section, footer {
	background-color: #FFB5CA;
}

#definicion h2, #tipos h2, #descripcion h2 {
	background-color: #3B365F;
	color: whitesmoke;
	width: 35%;
	border-radius: 1rem;
	position: relative;
}

.contenido-enlaces, #definicion p {
	width: 20%;	
}

.contenido-enlaces, #definicion img, #tipos section, #descripcion img {
	border-radius: 1rem;
}

nav a img {
	transition: transform 0.5s ease;	
}

nav a img:hover {
	transform: scale(1.2);
}

div h1 {
	margin: 60px;
	font-size: 50px;
} 

.contenido-enlaces {
	position: fixed;
	padding: 20px;
}

.contenido-enlaces table td {
	text-align: left;
}

.contenido-enlaces a {
	text-decoration: none;
	color: #3B365F;	
}

.contenido-enlaces a:hover {
	color: black;
	font-size: 18px;
}

#definicion audio {
	position: fixed;
	margin-left: 25%;
	z-index: 1;
}

#definicion h2 {
	left: 33%;
}

#definicion img {
	margin: 30px;
}

#definicion p {
	position: relative;
	left: 40%;
	text-align: justify;
}

#tipos h2 {
	margin: 50px;
	left: 30%;
}

#tipos section {
	width: 40%;
	position: relative;
	left: 30%;
	padding: 20px;
	margin: 20px;
	transition: width 0.5s ease;
}

#tipos section:hover {
	width: 50%;
}

#tipos section p {
	text-align: justify;
}

#tipos section p strong {
	font-size: 20px;
}

#descripcion h2 {
	left: 29%;
	margin: 60px;
}

#descripcion img {
	max-width: 30%;
	transition: max-width 0.5s ease;
}

#descripcion img:hover {
	max-width: 36%;
}

#descripcion p {
	width: 30%;
	position: relative;
	left: 35%;
	margin-top: 20px;
	margin-bottom: 80px;
	text-align: justify;
}

footer {
	padding: 20px;
}

footer p {
	font-size: 20px;
	margin-top: 15px;
}