
* {
	text-align: center;
	color: #3B365F;	
	font-family: "Georgia", sans-serif;
}

/* Propiedades compartidas  */

nav, .contenido-enlaces, footer {
	background-color: #FFB5CA;
}

.contenido h2 {
	background-color: #3B365F;
	color: whitesmoke;
	width: 30%;
	border-radius: 1rem;
	position: relative;
	left: 35%;
}

.contenido img {
	margin: 30px;
}

.contenido p {
	width: 20%;
	position: relative;
	left: 40%;
	text-align: justify;
	padding: 10px;
}

nav a img {
	transition: transform 0.5s ease;	
}

nav a img:hover {
	transform: scale(1.2);
}

div h1 {
	margin: 60px;
	font-size: 50px;
} 

.contenido-enlaces {
	position: fixed;
	padding: 20px;
	border-radius: 1rem;
}

.contenido-enlaces table td {
	text-align: left;
}

.contenido-enlaces a {
	text-decoration: none;
	color: #3B365F;	
}

.contenido-enlaces a:hover {
	color: black;
	font-size: 18px;
}

#quienes_somos audio {
	position: fixed;
	margin-left: 21%;
}

#por_que img {
	border-radius: 1rem;
}

footer {
	padding: 20px;
}

footer p {
	font-size: 20px;
	margin-top: 15px;
}