
{% macro bootstrap() %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endmacro %}

{% macro barra_navegacion() %}
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a href="{{ url_for('index') }}" class="navbar-brand">
				<img src="{{ url_for('static', filename='IMG/Logo.png') }}" height="50" id="logo">
			</a>

			<div class="navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Inicio</a></li>
				</ul>

				<ul class="navbar-nav">
					<li class="nav-item"><a href="{{ url_for('sobre_nosotros') }}" class="nav-link">Sobre Nosotros</a></li>
				</ul>				

				<ul class="navbar-nav">
					<li class="nav-item"><a href="{{ url_for('medicina') }}" class="nav-link">Medicina</a></li>
				</ul>

				<ul class="navbar-nav">
					<li class="nav-item"><a href="{{ url_for('ia') }}" class="nav-link">IA</a></li>
				</ul>
					
				<div class="dropdown">
					<button class="btn dropdown-toggle" data-bs-toggle="dropdown">
						Médicos Especializados
					</button>

					<ul class="dropdown-menu">
						<li>
							<h6 class="dropdown-header">Opciones</h6>
						</li>

					{% set especializaciones = {
					    "nutricion": "Nutrición",
					    "pediatria": "Pediatría",
					    "psicologia": "Psicología",
					    "cardiologia": "Cardiología",
					    "primeros_auxilios": "Primeros Auxilios",
					    "medicina_general": "Medicina General",
					    "ginecologia_y_obstetricia": "Ginecología y Obstetricia"
					} %}
											
					{% for slug, nombre in especializaciones.items() %}
					    <li>
					        <a class="dropdown-item" href="{{ url_for('especializacion', nombre_especializacion=slug) }}" }}">
					            {{ nombre }}
					        </a>
					    </li>		
					{% endfor %}						
					</ul>
				</div>
			</div>

			<a href="https://github.com/Bredalis" target="_blank" class="navbar-brand">
				<img src="{{ url_for('static', filename='IMG/GitHub.png') }}" height="30" title="GitHub">
			</a>
			<a href="https://twitter.com/Bredalis_P" target="_blank" class="navbar-brand">
				<img src="{{ url_for('static', filename='IMG/X.png') }}" height="30" title="X">
			</a>
			<a href="#" onclick="navigator.clipboard.writeText('telesaludconia@gmail.com'); alert('¡Email copiado!');">
			  <img src="{{ url_for('static', filename='IMG/EMAIL.png') }}" height="30" title="EMAIL">
			</a>
		</div> 
	</nav>
{% endmacro %}

{% macro footer() %}
	<footer>
	    <a href="{{ url_for('index') }}">
	    	<img src="{{ url_for('static', filename='IMG/Logo.png') }}">
	    </a>
        <div>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li> 
                <li><a href="{{ url_for('sobre_nosotros') }}">Sobre Nosotros</a></li> 
                <li><a href="{{ url_for('medicina') }}">Medicina</a></li>

				{% set especializaciones = {
				    "nutricion": "Nutrición",
				    "pediatria": "Pediatría",
				    "psicologia": "Psicología",
				    "cardiologia": "Cardiología",
				    "primeros_auxilios": "Primeros Auxilios",
				    "medicina_general": "Medicina General",
				    "ginecologia_y_obstetricia": "Ginecología y Obstetricia"
				} %}
										
				{% for slug, nombre in especializaciones.items() %}
				    <li>
				        <a class="dropdown-item" href="{{ url_for('especializacion', nombre_especializacion=slug) }}">
				            {{ nombre }}
				        </a>
				    </li>		
				{% endfor %}
            </ul>

            <ul>
                <li><a href="https://github.com/Bredalis" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/bredalis-gautreaux/" target="_blank">LinkedIn</a></li>
                <li><a href="https://es.stackoverflow.com/users/293358/bredalis-gautreaux" target="_blank">Stack OverFlow</a></li>
                <li><a href="https://huggingface.co/chat/assistants?user=Bredalis" target="_blank">Hugging Face</a></li>
                <li><a href="https://x.com/Bredalis_P" target="_blank">X</a></li>
            </ul>

            <ul>
                <li><a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">Licencia Pública General GNU v3.0</a></li>
            </ul>

            <p>© 2026 TeleSalud <br> Todos los derechos reservados</p>
        </div>
    </footer>
{% endmacro %}

{% macro scripts() %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='JS/main.js') }}"></script>
{% endmacro %}